# Byte-compiled files
__pycache__/

# editor, os cache directory
.vscode/
.idea/
__MACOSX/

# google spreadsheet key file
trading_desk/gspread/gspread_key/

# logs
logs/

# scripts
temp_*.py
strat_*.py

# misc
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store